@using Apex.Service.ViewModels.Shop
@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/MvcGrid/mvc-grid.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/select2/select2.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/jquery-tags-input/jquery.tagsinput-rtl.css" />
}

<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="AddProductContainer">
            @Html.Partial("Shop/_AddProduct", new ProductViewModel())
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet green box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cubes"></i>مطالب
                        </div>
                        <div class="tools">
                            <a id="btnShMdlAddProduct" class="btn default yellow-stripe btn-sm">
                                <i class="fa fa-plus"></i>
                                مطلب جدید
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            @Html.AjaxGrid(Url.Action("IndexGrid"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
@section scripts
{
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="~/Scripts/MvcGrid/mvc-grid.min.js"></script>
    <script src="~/Scripts/MvcGrid/mvc-grid-fa.js?@App.GV"></script>
    <script src="~/assets/global/plugins/select2/select2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/handlebars-v4.0.11.js"></script>
    <script src="~/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/assets/global/plugins/ckeditor/lang/fa.js"></script>
    <script src="~/Scripts/Shop/product.js?@App.GV"></script>
}