<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 my-5">
    <div class="card">
      <div class="card-header">
        <h2 class="text-11 m-0">
          About Us
        </h2>
      </div>
      <div class="card-body abt-card">
        <div class="d-flex about-us flex-wrap">
          <img src="Images/logo.png" class="img-thumbnail" />
          <div class="d-flex flex-column px-2">
            <b class="text-theme1 text-20">Bussines Name</b>
            <small>
              <i class="fa fa-industry text-muted"></i>
              <i class="text-secondary">Economic Name</i>
            </small>
            <small>
              <i class="fa fa-user text-muted"></i>Ahmad Roohbakhshs
            </small>
            <small>
              <i class="fa fa-mobile text-muted"></i>
              <bdi>+98 917 857 4885</bdi>
            </small>
            <small>
              <i class="fa fa-phone text-muted"></i>
              <bdi>+98 071 857 4885</bdi>
            </small>
          </div>
        </div>
        <div class="abt-ct d-flex flex-column mt-4">
          <small>
            <i class="fa fa-globe"></i>
            <bdi><b>Province : </b><span>Fars</span></bdi>
          </small>
          <small>
            <i class="fa fa-globe"></i>
            <bdi><b>City : </b><span>Shiraz</span></bdi>
          </small>
          <small>
            <i class="fa fa-hashtag"></i>
            <bdi><b>Postal Code : </b><span>12345-23454</span></bdi>
          </small>
          <small>
            <i class="fa fa-map-marker"></i>
            <bdi><b>Address : </b><span>Fars - Shiraz - Sadi 212</span></bdi>
          </small>
          <small>
            <i class="fa fa-envelope"></i>
            <bdi><b>Email : </b><span>example@gmail.com</span></bdi>
          </small>
        </div>
        <hr class="dbline" />
        <div>
          <b class="text-8">About : </b>
          <div>
            شرکت فولاد مبارکه از شرکت‌های پیشرو ایرانی است که در زمینه تولید
            ورق‌های فولادی فعالیت‌ می‌نماید. این شرکت با ماموریت ایفای نقش محوری
            در توسعه صنعتی، اقتصادی و اجتماعی کشور و ارتقای سطح فناوری صنعت
            فولاد، به عنوان سازمانی جهان تراز بیش از پنجاه درصد از مصرف فولاد
            کشور را جهت استفاده در صنایع خودروسازی و قطعه‌سازی، صنایع فلزی سبک،
            صنایع فلزی سنگین و لوله‌های انتقال سیالات، صنایع بسته‌بندی، صنایع
            لوازم خانگی و الکتریکی و صنایع لوله و پروفایل تولید می‌نماید. شرکت
            فولاد مبارکه دارای هفت مجتمع صنعتی در اقصی نقاط کشور بوده و بیش از
            بیست هزار نفر در بخش‌های مختلف این شرکت به کار اشتغال دارند.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSC -->
  <script src="Scripts/jquery-3.4.1.min.js"></script>
  <script src="Scripts/_g.js"></script>
  <!-- SCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSC -->
</div>
