@using Apex.Core
@using Apex.Core.Entities.UserE
@using Apex.Service.ViewModels.Account
@model Apex.Web.Models.ViewData.DashboardViewModel
@{
    var requestInfo = (RequestInfo)ViewBag.RequestInfo ?? new RequestInfo();
    var userInfo = (User)ViewBag.UserInfo ?? new User();
    var masterInfo = MasterInfoViewModel.Map(userInfo);
}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                @if (TempData["Msg"] != null)
                {
                    <div class="note note-danger note-shadow">
                        <h4 class="block">توجه!</h4>
                        <p>@TempData["Msg"]</p>
                    </div>
                }
                <h2 class="text-center mt-0 mb-5">@masterInfo.BusinessName</h2>
            </div>
            <div class="col-xs-12">
                <hr class="pcs-dashed mt-3">
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
@section scripts
{
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/dashboard.js?@App.GV"></script>
}